

{% extends 'main.html.twig' %}
{% block body %}

    <title>Formulaire d'ajout client</title>
</head>
<body>
<br>
<br>
<form action="/insertion" method="get">
    <fieldset>
       <center> <legend>Veuillez remplir les informations du client</legend> </center>


        <div class="form-group">
            <label for="nom">Nom</label>
            <input class="form-control" type="text" id="nom" name="user_nom" placeholder="Entrez le nom du client">
        </div>

        <div class="form-group">
                <label for="prenom">Prénom :</label>
                <input class="form-control" type="text" id="prenom" name="user_prenom" placeholder="Entrez le prénom du client">
        </div>


        <div class="form-group">
            <label for="telephone">Téléphone :</label>
            <input class="form-control" type="text" id="telephone" name="user_telephone" placeholder="Entrez un numéro de type 0X XX XX XX XX">
        </div>


        <div class="form-group">
            <label for="mail">Mail :</label>
            <input class="form-control" type="text" id="mail" name="user_mail" placeholder="Entrez l'email du client">
        </div>

        <center>
        <div class="button">
            <button type="submit" class="btn btn-success">Enregistrer</button>
        </div>
        </center>
        </fieldset>
</form>

</body>
{% endblock %}