

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
   <link rel="stylesheet"  href="https://bootswatch.com/4/darkly/bootstrap.min.css">

    <title>Formulaire d'ajout client</title>
</head>
<body>


<center><h1> Formulaire </h1></center>
<br>
<center>
<form action="/insertion" method="get">


    <H4> Veuillez remplir vos informations personnels</H4>
    <div>
        <label for="nom">Nom :</label>
        <input type="text" id="nom" name="user_nom">
    </div>


    <div>
        <label for="prenom">Prénom :</label>
        <input type="text" id="prenom" name="user_prenom">
    </div>

    <div>
        <label for="telephone">Téléphone :</label>
        <input type="text" id="telephone" name="user_telephone">
    </div>

    <div>
        <label for="mail">Mail :</label>
        <input type="text" id="mail" name="user_mail">
    </div>

    <div class="button">
        <button type="submit">Enregistrer</button>
    </div>
</form>
</center>

</body>
</html>