<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.min.css">
    <title>test</title>
</head>
<body>

<center>
    <h4> Affichages </h4>
    <table>

    <tr>

      <td>  <a href = "/affichagePassagers"> <input type="button" value="Voir les passagers"> </a> </td>
        <td> <a href="/affichageVoyages"> <input type="button" value="Voir les voyages"> </a> </td>
    </tr>

    </table>

    <br>

    <h4> Ajout </h4>
    <table>

        <tr>
         <td>  <a href = "/formPassager"> <input type="button" value="Ajouter les informations d'un nouveau client"> </a> </td>
        </tr>
            <tr><td>  <a href = "/formDossier"> <input type="button" value="Ajouter un nouveau dossier"> </a> </td>
               </tr>

    </table>
</center>
</body>
</html>